[submodule "packages/javelin"]
	path = packages/javelin
	url = git@github.com:RetroRPG/javelin.git
[submodule "packages/riba"]
	path = packages/riba
	url = https://github.com/ribajs/riba.git
[submodule "packages/web-udp"]
	path = packages/web-udp
	url = https://github.com/RetroRPG/web-udp.git
