[submodule "packages/javelin"]
	path = packages/javelin
	url = https://github.com/PixelRPG/javelin.git
[submodule "packages/web-udp"]
	path = packages/web-udp
	url = https://github.com/PixelRPG/web-udp.git
[submodule "packages/tile-extruder"]
	path = packages/tile-extruder
	url = https://github.com/PixelRPG/tile-extruder.git
[submodule "packages/esbuild"]
	path = packages/esbuild
	url = git@github.com:PixelRPG/esbuild.git
